/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

form.single-button{
	display:inline;
	float:right;
}

h3.text-muted{
color:black;
}

tr:hover {
background-color: rgba(255,0,0,.3);
}

div.borderline1{
	border-style: solid;
    border-width: 1px;
	padding-left: 10px;
	padding-bottom: 16px;
	padding-right: 264px;
	margin-top:0px;
	margin-left:0px;
	float: left;
}

div.borderline2{
	border-style: solid;
    border-width: 1px;
	padding-left: 10px;
	padding-bottom: 51px;
	padding-right: 10px;
	margin-right: 0px;
	margin-left: 45px;
	margin-top: -21px;
	float: left;
}

a.topbtn{
	float:right;
}

label.redz{
	color: #cc181e;
}

#SResults li:hover {
  background: #d0d0d0;
  cursor: default;
}

#SResults li{
	background-color: #eee; 
	box-shadow: 10px 10px 5px #888888;
}

#pkgtype{
	display: inline;
	float: left;
}

#pkgService{
	display: block;
	float: left;
	margin-left: 150px;
}

#pkgService input{
	width:25%;
}