/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

form.single-button{
	display:inline;
	float:right;
}

h3.text-muted{
color:black;
}

tr:hover {
background-color: rgba(255,0,0,.3);
}

div.borderline{
	border-style: solid;
    border-width: 1px;
	padding-left: 10px;
	padding-bottom: 10px;
}

a.topbtn{
	float:right;
}

label.redz{
	color: #cc181e;
}