<div>
	<br>
	<p>
	<h4><b>Results for package: <u>{{singlepackage.package_name}}</u></b></h4>
	</p>
	<div class="col-lg-3 col-lg-2 sidebar">
		
		<p><h3>{{hotelResults.HotelListResponse.EanWsError.verboseMessage}}</h3></p>
		<p>
		<img src="http://media.expedia.com{{hotelResults.HotelListResponse.HotelList.HotelSummary[0].thumbNailUrl}}" width="175" height="175">
		</p>
		<p>
		<img src="{{hotelResults.HotelListResponse.HotelList.HotelSummary[0].tripAdvisorRatingUrl}}">
		</p>
		<p><a ng-href="#/created-packages/{{singlepackage.id}}/reserve/hotelSearch/booking/
		{{hotelResults.HotelListResponse.HotelList.HotelSummary[0].hotelId}}/
		{{hotelResults.HotelListResponse.HotelList.HotelSummary[0].RoomRateDetailsList.RoomRateDetails.roomTypeCode}}/
		{{hotelResults.HotelListResponse.HotelList.HotelSummary[0].RoomRateDetailsList.RoomRateDetails.rateCode}}/
		{{hotelResults.HotelListResponse.HotelList.HotelSummary[0].RoomRateDetailsList.RoomRateDetails.RateInfos.RateInfo.ChargeableRateInfo['@total']}}">
			<button class="btn btn-primary" >Selecct this Hotel</button> 
		</a>
		</p>
		<br>
	</div>
	<br>
	<div class="col-sm-9 main">
		<div ng-repeat="hotel in hotelResults">
			<br>
			<p><h4>Hotel ID: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].hotelId}}</h4></p>
			<p><h4>Rate: ${{hotelResults.HotelListResponse.HotelList.HotelSummary[0].RoomRateDetailsList.RoomRateDetails.RateInfos.RateInfo.ChargeableRateInfo['@total']}}</h4></p>
			<p><h4>Hotel Name: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].name}}</h4></p>
			<p><h4>Hotel Address: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].address1}}, {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].city}}, {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].stateProvinceCode}} {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].postalCode}}</h4></p>
			<p><h4>Hotel TripAdvisor link: 
			<a href= "{{hotelResults.HotelListResponse.HotelList.HotelSummary[0].deepLink}}">TravelNow</a></h4></p>
			<p><h4>lat: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].latitude}} </h4></p>
			<p><h4>long: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].longitude}}</h4></p>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>
	<div class="col-lg-3 col-lg-2 sidebar">			
		<p><h3>{{hotelResults.HotelListResponse.EanWsError.verboseMessage}}</h3></p>
		<p>
		<img src="http://media.expedia.com{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].thumbNailUrl}}" width="175" height="175">
		</p>
		<p>
		<img src="{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].tripAdvisorRatingUrl}}">
		</p>
		<p><a ng-href="#/created-packages/{{singlepackage.id}}/reserve/hotelSearch/booking/
		{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].hotelId}}/
		{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].RoomRateDetailsList.RoomRateDetails.roomTypeCode}}/
		{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].RoomRateDetailsList.RoomRateDetails.rateCode}}/
		{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].RoomRateDetailsList.RoomRateDetails.RateInfos.RateInfo.ChargeableRateInfo['@total']}}">
			<button ng-click="bookSelectedHotel(booking)" class="btn btn-primary" >Selecct this Hotel</button> 
			</a></p>
		<br>
	</div>
	<div class="col-sm-9 main">
		<div ng-repeat="hotel in hotelResults">
			<br>
			<p><h4>Hotel ID: {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].hotelId}}</h4></p>
			<p><h4>Rate: ${{hotelResults.HotelListResponse.HotelList.HotelSummary[1].RoomRateDetailsList.RoomRateDetails.RateInfos.RateInfo.ChargeableRateInfo['@total']}}</h4></p>
			<p><h4>Hotel Name: {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].name}}</h4></p>
			<p><h4>Hotel Address: {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].address1}}, {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].city}}, {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].stateProvinceCode}} {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].postalCode}}</h4></p>
			<p><h4>Hotel TripAdvisor link: 
			<a href= "{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].deepLink}}">TravelNow</a></h4></p>
			<p><h4>lat: {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].latitude}} </h4></p>
			<p><h4>long: {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].longitude}}</h4></p>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>