<h4>Please fill these fields to create a new package.</h4>
<h4>The created package will be added to your "Created Packages" list which then can be Reserved.</h4>
<div class="well tab-content">                        
	<div class="tab-pane active" id="object-form">
        <form enctype="multipart/form-data"  class="form-horizontal" name="packageForm" >
			<fieldset>
				<div class="control-group" >
					<label for="package_name" class="control-label">Package name:</label>
					<div class="controls">
						<input id="package_name" class="form-control" ng-model="package_name" type="text">
					</div>
					
				</div>
				<div class="control-group">
					<label for="description" class="control-label">Description:</label>
					<div class="controls">
						<input id="description" class="form-control" name="description" type="text" ng-model="description">
					</div>
				</div>
				<div class="control-group" >
					<label for="startDate" class="control-label">Start date:</label>
					<input id='startDate' class="form-control"  type="text" ng-model="start_date">
					
				</div>
				<div class="control-group" >
					<label for="endDate" class="control-label">End date:</label>
					<div class="controls">
						<input id='endDate' class="form-control" name="endDate" type="text" ng-model="end_date">
					</div>
					
				</div>
				<div class="form-group">
					<label class="control-label">Package type:</label>
					<div class="radio">
						<label>
							<input type="radio" name="pkgType" value="VC" ng-model="package_type" class="nfi">Vacation
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="pkgType" value="HM" ng-model="package_type" class="nfi">Honeymoon
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="pkgType" value="ED" ng-model="package_type" class="nfi">Educational
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="pkgType" value="AD" ng-model="package_type" class="nfi">Adventure
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="pkgType" value="FM" ng-model="package_type" class="nfi">Family
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="pkgType" value="PL" ng-model="package_type" class="nfi">Pilgrimage
						</label>
					</div>
				</div>
				<!--<div class="control-group ">
					<label for="package_type" class="control-label">Package type:</label>
					<div class="controls">
						<select id="package_type" name="package_type" class="form-control">
							<option value="VC" ng-model="formData.pkgType">Vacation</option>
							<option value="HM" ng-model="formData.pkgType">Honeymoon</option>
							<option value="ED" ng-model="formData.pkgType">Educational</option>
							<option value="AD" ng-model="formData.pkgType">Adventure</option>
							<option value="FM" ng-model="formData.pkgType">Family</option>
							<option value="PL" ng-model="formData.pkgType">Pilgrimage</option>
						</select>
					</div>
				</div>-->
				<br>
				<h4>Which of these services are included in the package?</h4>
				<div class="borderline">
					<div class="control-group ">
						<label for="flight" class="control-label">Flight:</label>
						<div class="controls">
							<input id="flight" name="flight" type="checkbox">
						</div>
					</div>
					<div class="control-group ">
						<label for="hotel" class="control-label">Hotel:</label>
						<div class="controls">
							<input id="hotel" name="hotel" type="checkbox">
						</div>
					</div>
					<div class="control-group ">
						<label for="insurance" class="control-label">Insurance:</label>
						<div class="controls">
							<input id="insurance" name="insurance" type="checkbox">
						</div>
					</div>
					<div class="control-group ">
						<label for="restaurant" class="control-label">Restaurant:</label>
						<div class="controls">
							<input id="restaurant" name="restaurant" type="checkbox">
						</div>
					</div>
					<div class="control-group ">
						<label for="local_booking" class="control-label">Local booking:</label>
						<div class="controls">
							<input id="local_booking" name="local_booking" type="checkbox">
						</div>
					</div>
				</div>
				<br>
				<div class="form-actions">
					<button ng-click="createPackage('submitResult')" 
					ng-disabled="packageForm.$invalid" class="btn btn-primary" title="create a new package" >Create Package</button>
				</div>
				<script type="text/javascript">
					$('#startDate, #endDate').datepicker({
						numberOfMonths: 2,
						dateFormat: 'mm-dd-yy'
					});
					/*
					$(document).ready(
				  // This is the function that will get executed after the DOM is fully loaded 
				  function () {
					$( "#datepicker1" ).datepicker({
					  changeMonth: true,//this option for allowing user to select month
					  changeYear: true //this option for allowing user to select from year range
					});
					$( "#datepicker2" ).datepicker({
					  changeMonth: true,//this option for allowing user to select month
					  changeYear: true //this option for allowing user to select from year range
					});
				  }
				);
				*/
				</script>
			</fieldset>
		</form>
	</div>              
</div>
<br>
{{$scope.package_name}}
<strong><label for="submitDebugArea"> Submit result:</label></strong> <br />
<textarea id="submitDebugArea">{{submitResult | json}} </textarea>