<h4>Reserve services for the selected package here.</h4>
<div>
	Packages name: <b>{{singlepackage.package_name}}</b>
</div>
<br>
After booking any of the services, the package will be "incomplete" until you press the "Reserve Package" button.
<br>
<br>
<div>
	<a ng-href="#/created-packages/{{singlepackage.id}}/reserve/hotelSearch"><button class="btn btn-primary" >Find Hotels</button></a>
</div>
<br>
<div>
	<a href="#/"><button class="btn btn-primary" >Find Flights</button></a>
</div>
<br>
<div>
	<a href="#/"><button class="btn btn-primary" >Add services</button></a>
</div>
<br>
<div>
	<a href="#/"><button class="btn btn-primary" >Reserve Package</button></a>
</div>