
<div>
	<p>name: {{singlepackage.package_name}}</p>
	<p>hotelId: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].hotelId}}</p>
	<p>arrivalDate:{{startDate}}</p>
	<p>departureDate:{{endDate}}</p> 
	<p>supplierType: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].supplierType}} </p> 
	<p>roomTypeCode: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].RoomRateDetailsList.RoomRateDetails.roomTypeCode}} </p> 
	<p>rateCode: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].RoomRateDetailsList.RoomRateDetails.rateCode}} </p> 
	<p>chargeableRate: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].RoomRateDetailsList.RoomRateDetails.RateInfos.RateInfo.ChargeableRateInfo['@total']}}</p>
	<p>default value fom room1SmokingPreference: NS </p> 
	<p>defualt value for room1BedTypeId: '23'</p>
	<p>default value for room1: '2' </p>
	<p>packageId: {{singlepackage.id}}</p>
</div>
<br>
<div>
	<form action="/agentapp/hotel-reservation/" method="POST" enctype="multipart/form-data" class="form-horizontal">
		<fieldset>
		 
		<div class="control-group ">
			<label for="email" class="control-label">Send confirmation to this email:</label>
			<div class="controls">
				<input id="email" name="email" type="text" ng-model="bookemail">			
			</div>
		</div> 

		<br>
			<br><div class="form-actions">
				<a ng-href="#/created-packages/{{singlepackage.id}}/reserve/hotelSearch/booked">
					<button class="btn btn-primary" ng-click="bookSelectedHotel(booking)" >Book Hotel</button>
				</a>
			</div>
		</fieldset>
	</form>
</div>
