<div>
	<div class="col-lg-3 col-lg-2 sidebar">
			<p><h5><b>results for package:<u>{{singlepackage.package_name}}</u></b></h5></p>
			<p><h3>{{hotelResults.HotelListResponse.EanWsError.verboseMessage}}</h3></p>
			<p>
			<img src="http://media.expedia.com{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].thumbNailUrl}}" width="175" height="175">
			</p>
			<p>
			<img src="{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].tripAdvisorRatingUrl}}">
			</p>
			<p><a ng-href="#/created-packages/{{singlepackage.id}}/reserve/hotelSearch/hotelBook">
				<button class="btn btn-primary">Book this Hotel</button>
				</a></p>
			<br>
	</div>
	<br>
	<div class="col-sm-9 main">
			<div ng-repeat="hotel in hotelResults">
				<br>
				<p><h4>Hotel ID: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].hotelId}}</h4></p>
				<p><h4>Hotel Rating: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].hotelRating}}</h4></p>
				<p><h4>Hotel Name: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].name}}</h4></p>
				<p><h4>Hotel Address: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].address1}}, {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].city}}, {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].stateProvinceCode}} {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].postalCode}}</h4></p>
				<p><h4>lat: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].latitude}} </h4></p>
				<p><h4>long: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].longitude}}</h4></p>
				<p><h4>Hotel TripAdvisor link: 
				<a href= "{{hotelResults.HotelListResponse.HotelList.HotelSummary[0].deepLink}}">TravelNow</a></h4></p>
				<p><h4>supplierType: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].supplierType}}</h4></p>
				<p><h4>roomTypeCode: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].RoomRateDetailsList.RoomRateDetails.roomTypeCode}}</h4></p>
				<p><h4>rateCode: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].RoomRateDetailsList.RoomRateDetails.rateCode}}</h4></p>
				<p><h4>chargeableRate: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].RoomRateDetailsList.RoomRateDetails.RateInfos.RateInfo.ChargeableRateInfo['@total']}}</h4></p>
				<p><h4>bedTypeId: "23" </h4></p>
			</div>
	</div>
</div>
